    .lc_log { display: flex;  flex-wrap: nowrap; width: 100%; }
    .lc_log + .lc_log { border-top: 1px solid #bbbbbb; }
    .lc_log div { padding: 4px }
    .lc_log .code200 { background: green; color: #fff; }
    .lc_log .code301 { background: red; color: #fff; }
    .lc_log .code302 { background: red; color: #fff; }
    .lc_log .code404 { background: red; color: #fff; }
    .lc_log .code400 { background: red; color: #fff; }
    .lc_log .codeerr { background: red; color: #fff; }
    .lc_log .codemailto { background: yellow; }
    .lc_log .codetel { background: yellow; }
    .lc_log .clink { width: 100%; }
    .lc_log .statuscode { width: 50px; text-align: center; }
